*.pyc
*.swp
*.lock
*.log
.idea/
.DS_Store
archery/settings.py.github
archery/settings.py.dev
archery/settings_dev.py
sql/migrations/
venv
/src/docker-compose/mysql/datadir/mysql/
/src/docker-compose/mysql/datadir/performance_schema/
/src/docker-compose/mysql/datadir/sys/
/src/docker-compose/mysql/datadir/archery/db.opt
/src/docker-compose/mysql/datadir/auto.cnf
/src/docker-compose/mysql/datadir/ca.pem
/src/docker-compose/mysql/datadir/ca-key.pem
/src/docker-compose/mysql/datadir/client-cert.pem
/src/docker-compose/mysql/datadir/client-key.pem
/src/docker-compose/mysql/datadir/ib_buffer_pool
/src/docker-compose/mysql/datadir/ib_logfile0
/src/docker-compose/mysql/datadir/ib_logfile1
/src/docker-compose/mysql/datadir/ibdata1
/src/docker-compose/mysql/datadir/ibtmp1
/src/docker-compose/mysql/datadir/private_key.pem
/src/docker-compose/mysql/datadir/public_key.pem
/src/docker-compose/mysql/datadir/server-cert.pem
/src/docker-compose/mysql/datadir/server-key.pem
/src/docker-compose/archery/downloads/log/supervisord.pid
